* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: #b8b8b8;
}

.navbar .nav-items {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.navbar {
    padding: 10px 40px;
    z-index: 5;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: 400;
    position: sticky;
    top: 0;
}

.navbar .logo .company-name {
    font-size: 25px;
}

.navbar .logo .company-tagline {
    color: rgb(205, 205, 205);
}

.nav-item {
    padding: 10px;
    cursor: pointer;
    position: relative;
    font-family: Roboto;
    font-weight: 400;
}

.nav-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    width: 0;
    height: 100%;
    transition: width ease-in-out 200ms;
    border-radius: 4px;
}

.nav-item:hover::before {
    width: 100%;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-toggle {
    display: none;
}

@media only screen and (max-width: 400px) {
    .navbar {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: auto;
        transition: all 200ms ease-in-out;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar .logo .company-tagline {
        display: none;
    }

    .navbar .logo .company-name {
        font-weight: bold;
        font-size: 20px;
    }

    .navbar .logo {
        padding: 5px;
    }

    .navbar .nav-items {
        flex-direction: column;
        gap: 10px;
        transition: all 200ms ease-in-out;
    }

    .nav-link {
        transition: all 200ms ease-in-out;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;
        background: rgba(0, 0, 0, 0.5);
    }

    .navbar-closed .nav-item {
        height: 0;
        padding: 0;
    }

    .navbar-closed .nav-items {
        height: 0;
        gap: 0;
    }

    .navbar-closed .nav-items .nav-link {
        color: transparent;
    }

    .navbar-open .nav-items {
        height: 100%;
    }

    .navbar-open .nav-items .nav-link {
        color: white;
    }

    .navbar-top {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
